.search-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  background: var(--Gray);
  height: 25px;
  border-radius: 5px;
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  background: var(--Gray);
  border: none;
  height: 20px;
  width: 450px;
}

::placeholder {
  font-weight: 600;
  font-size: medium;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.search-btn {
  font-size: 1em;
  cursor: pointer;
}

.searched-book {
  display: flex;
  align-items: center;
  width: 182px;
  margin-left: 5px;
  flex-direction: column;
  background-color: #f5e6de;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 10px;
  border-radius: 10px;
}

img {
  border-radius: 5px;
}

.title {
  color: #403a88;
  font-weight: 700;
  font-size: larger;
}

.date {
  font-weight: 600;
  font-size: small;
}
